@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1d1c1e;
}

.admin-logo {
    margin: 50px auto;
    margin-bottom: 250px;
    width: 250px;
    color: #ffffff;
    display: grid;
    grid-template-areas: "gambar judul" "gambar bawah";
}

.admin-logo img {
    grid-area: gambar;
    width: 50px;
    height: 50px;
}

.admin-logo h2 {
    grid-area: judul;
    margin-top: -5px;
}

.admin-logo p {
    grid-area: bawah;
}

.box-login {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #0f0f0f;
    border: 1px solid #2a292a;
    border-radius: 10px;
}

.box-login p {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 13px;
}

.box-login h3 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-size: 25px;
}

form {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.box-login form label {
    text-align: left;
    margin: 7px 0;
    color: #ffffff;
    margin-left: 25px;
    text-transform: capitalize;
}

.user {
    background-color: #2a292a;
    margin: auto;
    width: 300px;
    padding: 4px;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.password {
    background-color: #2a292a;
    margin: auto;
    width: 300px;
    padding: 4px;
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    border-radius: 5px;
    margin-bottom: 15px;
}

.tombol {
    margin: 10px auto;
    width: 310px;
    padding: 5px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #5600e7;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.garis-admin {
    width: 200px;
    margin: 20px auto;
    border: 0.3px solid #ffffff;
}
