* {
    padding: 0 ;
    margin: 0 ;
}

body {
    background-color: #1D1C1E ;
}

.hero {
    background-image: url("../img/daftar\ team.svg");
    background-size: cover ;
    background-repeat: no-repeat;
    height: 300px ;
    width: 100% ;
    display: block ;
    margin-top: -17px ;
    color: #FFFFFF ;
    position: relative ;
}

.hero h1 {
    position: absolute ;
    font-size: 50px ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50% , -50% );
}

.container {
    width: 900px ;
    margin: 30px auto ;
    display: flex ;
    flex-direction: column ;
}

.tombol-balik {
    background-color: #e70000;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 14px ;
    height: 30px ;
    z-index: 99 ;
    line-height: 30px ;
}

.tombol-balik a {
    text-decoration: none;
    color: #ffffff;
}

.button-selection {
    display: grid ;
    grid-template-areas: "judul judul judul" "game-1 game-2 game-3";
    width: 700px ;
    margin: 20px 0 ;
    /* justify-content: space-between ; */
    margin-bottom: 0px ;
}

.button-selection p {
    font-weight: bold ;
    grid-area: judul ;
    color: #FFFFFF ;
}

.game-1 {
    color: white ;
    position: relative ;
    grid-area: game-1 ;
}

.game-1 img {
    position:  relative ;
    background-color: #5600E7 ;
    width: 100px ;
    height: 70px ;
    margin: 10px ;
    margin-left: 0 ;
    cursor: pointer;
}

/* pubg */

.game-2 {
    color: white ;
    position: relative ;
    grid-area: game-2 ;
}

.game-2 img {
    position:  relative ;
    background-color: #0F0F0F ;
    width: 100px ;
    height: 70px ;
    margin: 10px ;
    cursor: pointer;
    margin-left: -180px ;
}

/* pb */

.game-3 {
    color: white ;
    position: relative ;
    grid-area: game-3 ;
}

.game-3 img {
    position:  relative ;
    background-color: #0F0F0F ;
    width: 100px ;
    height: 70px ;
    margin: 10px ;
    cursor: pointer;
    margin-left: -250px ;
}

/* tabel */

.table-sec {
    grid-area : tabel ;
    background-color: black ;
    width: 890px ;
    height: 300px ;
    overflow-x : hidden;
    text-align: center ;
}

.tabel-hilang {
    display: none ;
}

/* ml */

.game1-tabel {
    color: white ;
}

.game1-tabel table {
    margin: 10px auto ;
    border-collapse: collapse ;
    margin-top : 30px  ;
    width: 870px ;
}

.game1-tabel tr th {
    font-size: 14px;
    font-weight: bold ;
    padding : 10px ;
    border: 0.1px solid white ;
    background-color: #5600e7;
}

.game1-tabel tr:nth-child(odd){
    background-color: #18171A ;
}


.game1-tabel tr td {
    padding : 10px ;
    border: 1px solid white ;
    border-collapse: collapse ;
}

/* pubg */

.game2-tabel {
    color: white ;
}

.game2-tabel table {
    margin: 10px auto ;
    margin-top : 30px  ;
    width: 870px ;
    border-collapse: collapse ;
}

.game2-tabel tr th {
    font-weight: bold ;
    padding : 10px ;
    border: 0.1px solid white ;
}

.game2-tabel tr:nth-child(odd){
    background-color: #18171A ;
}

.game2-tabel tr td {
    padding : 10px ;
    border: 1px solid white ;
    border-collapse: collapse ;
}

/* pb tabel */

.game3-tabel {
    color: white ;
}

.game3-tabel table {
    margin: 10px auto ;
    margin-top : 30px  ;
    width: 870px ;    
    border-collapse: collapse ;
}

.game3-tabel tr th {
    font-weight: bold ;
    padding : 10px ;
    border: 0.1px solid white ;
}

.game3-tabel tr:nth-child(odd){
    background-color: #18171A ;
}

.game3-tabel tr td {
    padding : 10px ;
    border: 1px solid white ;
    border-collapse: collapse ;
}

@media only screen and (max-width : 800px ){

    .container {
        width: 560px ;
        margin: 18px auto ;
        margin-top: -20px ;
        margin-bottom: 20px ;
    }

    .button-selection {
        width: 500px ;
    }

    .hero h1 {
        font-size: 33px ;
    }

    .table-sec {
        height: 250px ;
        width: 560px ;
    }

    .game1-tabel table,
    .game2-tabel table,
    .game3-tabel table {
        width: 520px ;
    }

    .game-1 img {
        margin-right : 100px  ;
    }

    .game-2 img {
        margin-left : -170px  ;
    }

    .game-3 img {
        margin-left:  -130px ;
    }


}

@media only screen and (max-width : 600px ){
    .container {
        margin-top: -50px ;
        width: 350px ;
    }

    .button-selection {
        width: 330px ;
        margin: auto ;
        justify-content: space-between ;
    }

    .button-selection img {
        width: 85px ;
        margin-bottom: 0 ;
        
    }

    .tombol-balik {
        display: block ;
        margin-left : 20px ;
    }

    .table-sec {
        width: 330px ;
        margin: 10px ;
        margin-top: 20px ;
    }

    .table-sec table {
        width: 300px ;
        margin: 20px auto ;
    }

    .table-sec table td {
        font-size: 13px ;
        padding: 5px ;
    }

    .table-sec th {
        font-size: 13px ;
        padding: 5px ;
    }

    .hero h1 {
        font-size: 18px ;
        width: 200px ;
    }

    .game-1 img,
    .game-2 img,
    .game-3 img  {
        margin: 0 ;
    }
}