@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0 ;
    margin: 0 ;
}

footer {
    display: flex ;
    flex-direction: column ;
    background-color: #171619 ;
}

.section-atas-footer {
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    margin: 10px ;
    text-align: center ;
}

.footer-brand {
    display: flex ;
    flex-direction: column ;
}

.menu-footer {
    display: flex ;
    flex-direction: column ;
}

.kategori-footer {
    display: flex ;
    flex-direction: column ;
} 

.info-tomcat {
    display: flex ;
    flex-direction: column ;
}

.support-footer {
    display: flex ;
    flex-direction: column ;
}

.menu-footer h1 ,.info-footer h1 ,.kategori-footer h1 ,.support-footer h1 {
    font-size: 16px ;
    margin : 10px 0 ;
    text-transform: uppercase ;
    text-align: left ;
    color: #9F9F9F ;
}

.menu-footer a ,.kategori-footer a {
    font-size: 13px ;
    list-style: none ;
    text-decoration: none ;
    margin: 6px 0 ;
    text-align: left ;
    color: #FFFFFF ;
}

.info-footer p {
    margin: 6px 0 ;
    text-align: left ;
    font-size: 13px ;
    color: #FFFFFF ;
}

.footer-brand img {
    width: 60px ;
    height: 60px ;
    margin: 10px auto ;
}
.footer-brand h1 {
    font-size: 18px ;
    margin : -1px 0 ;
    text-transform: uppercase ;
    color: #FFFFFF ;
}

.footer-brand p {
    font-size: 14px ;
    text-transform: uppercase ;
    color: #FFFFFF ;
}

.support-footer img {
    width: 50px ;
    height: 50px ;
    margin: 0 auto ;
}

.section-bawah-footer {
    margin: 10px auto ;
    max-width: 600px ;
    display: flex ;
    flex-direction: column ;
    text-align: center ;
}

.garis-footer {
    width: 100% ;
    border: 0.2px solid #000000;
    margin-top: 10px ;

}

.sosmed-footer {
    display: none ;
}

.section-bawah-footer h4 {
    margin-top: 16px ;
    font-size: 13px ;
    color: #FFFFFF ;
    font-weight: 100 ;
}

@media only screen and (max-width : 800px ){
    .section-atas-footer {
        display: flex ;
        flex-wrap: wrap ;
        width: 67%  ;
        margin: 0 auto ;
        justify-content: space-between;
    }

    .footer-brand img {
        width: 50px ;
        height: 50px ;
        margin: 10px auto ;
    }

    .footer-brand h1 {
        font-size: 14px ;
        margin : -1px 0 ;
        text-transform: uppercase ;
        color: #FFFFFF ;
    }
    
    .footer-brand p {
        font-size: 13px ;
        text-transform: uppercase ;
        color: #FFFFFF ;
    }
    
}

@media only screen and (max-width : 600px ){
    .section-atas-footer {
        margin: 12px auto ;
        width: 400px ;
        justify-content: space-around ;
    }

    .info-footer,.kategori-footer,.menu-footer,.support-footer {
        display: none ;
    }

    .sosmed-footer {
        display: flex ;
        justify-content: space-around ;
        flex-direction: row ;
        width: 300px ;
        margin: 20px auto ;
    }

    .sosmed-footer img {
        height: 50px ;
        width: 50px ;
    }

}