@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d1c1e;
}

#alert {
    /* display: none ; */
    font-size: 12px;
    color: #e70000;
}

.hero-register {
    background-image: url("../img/hero\ register.svg");
    background-size: cover no-repeat;
    height: 300px;
    position: relative;
    top: 0 ;
    margin-top: -13px ;
}

.tombol-balik {
    background-color: #e70000;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 12pt;
    height: 30px;
    line-height: 30px;
}

.tombol-balik a {
    text-decoration: none;
    color: #ffffff;
    margin-top : 5px ;
}

.hero-register h1 {
    display: block;
    position: absolute;
    width: 300px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.alert {
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    border-radius: 5px;
    background-color: #5600e7;
    color: white;
    width: 900px ;
}
.alert p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: white;
    margin-top: 10px;
}

.alert a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgb(66, 240, 211);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 40px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.form-login-register {
    margin: 30px auto;
    width: 1000px;
    font-weight: bold;
}

.form-login-register form {
    display: grid;
    grid-template-areas: "sec-0 sec-0 sec-0" "sec-1 sec-1 sec-1" "sec-2 sec-3 sec-4" "sec-5 sec-5 sec-5";
}

.form-login-register form p {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 14px;
    margin: 6px 0;
    font-weight: lighter;
}

.form-login-register form input[type="text"] {
    background-color: #0f0f0f;
    border: 1px solid #404040;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px;
    height: 25px;
}

.form-login-register form input[type="number"] {
    background-color: #0f0f0f;
    border: 1px solid #404040;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px;
    height: 25px;
}

.form-login-register form input[type="button"] {
    margin-top: 15px;
}

.login-sec-0 {
    display: flex;
    flex-direction: column;
    grid-template: sec-0;
    width: 930px;
}

.login-sec-0 input:nth-child(2) {
    box-sizing: border-box;
}

.login-sec-1 {
    display: flex ;
    flex-direction: row ;
    grid-area: sec-1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-sec-1 aside {
    display: flex ;
    flex-direction: column ;
}

.login-sec-1 input[type="email"] {
    width: 450px;
    margin-bottom: 10px;
    background-color: #0f0f0f;
    border: 1px solid #404040;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px;
    height: 25px;
}

.login-sec-1 p:nth-child(1) {
    grid-area: judul1;
    margin-bottom: 10px;
}

.login-sec-1 p:nth-child(2) {
    grid-area: alert1 ;
}

.login-sec-1 #id-judul-wa{
    grid-area: judul2;
    margin-left: 20px;
    margin-bottom: 10px;
}

.login-sec-1 aside .alert-2 {
    margin-left: 20px ;
}

.login-sec-1 #id-wa {
    grid-area: wa;
    width: 450px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.login-sec-2 {
    grid-area: sec-2;
}

.login-sec-3 {
    grid-area: sec-3;
    margin-left: -625px;
}

.login-sec-4 {
    grid-area: sec-4;
    margin-left: -310px;
}

.login-sec-5 {
    grid-area: sec-5;
    display: flex;
    flex-direction: column;
    width: 930px;
    margin-top: 10px;
}

.login-sec-5 button {
    background-color: #5600e7;
    color: #ffffff;
    border: 1px solid #404040;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
}

.login-sec-5 input[type="file"] {
    color: #ffffff;
    margin: 10px auto;
}

@media only screen and (max-width: 800px) {
    /* .hero-register h1 {
        top: 30% ;
        left: 30% ;
        right: 30% ;
    } */

    .hero-register {
        margin-top: -12px ;
    }

    .alert {
        width: 600px ;
        margin: 0 ;
        margin-bottom: 20px ;
    }

    .form-login-register {
        width: 600px;
    }

    .form-login-register form {
        margin: 10px auto;
        width: 600px;
    }

    .login-sec-0 {
        width: 626px;
    }

    .login-sec-0 input[type = "text"]{
        width: 600px ;
    }

    .login-sec-1 aside input[type="email"] {
        width: 280px;
    }

    .login-sec-1 #id-judul-wa{
        margin-left: 40px;
        margin-bottom: 10px;
    }

    .login-sec-1 aside .alert-2{
        margin-bottom: 10px;
        margin-left: 40px;
    }

    .login-sec-1 #id-wa {
        grid-area: wa;
        width: 280px;
        margin-left: 40px;
        margin-bottom: 10px;
    }

  

    .login-sec-2 input {
        width: 150px;
    }

    .login-sec-3 {
        margin-left: -390px;
    }

    .login-sec-3 input {
        width: 150px;
    }

    .login-sec-4 {
        margin-left: -160px;
    }

    .login-sec-4 input {
        width: 150px;
    }

    .login-sec-5 {
        width: 500px;
        margin: 30px auto ;
    }
}

@media only screen and (max-width: 600px) {

    * {
        overflow-x: hidden;
    }

    .hero-register {
        margin-top: -13px;
    }

    .hero-register img {
        height: 150px;
        width: 330px;
    }

    .form-login-register {
        width: 390px;
        overflow-x: hidden;
        margin-left: -30px ;
    }

    .tombol-balik {
        margin-left: 45px ;
    }

    .alert {
        margin: auto ;
        width: 300px ;
        margin-left : 45px  ;
        font-size: 12px ;
    }

    .form-login-register form {
        grid-template-areas: "sec-0 sec-0 sec-0" "sec-1 sec-1 sec-1" "sec-2 sec-3 sec-4" "sec-5 sec-5 sec-5";
        margin: 10px auto;
        width: 330px;
        overflow-x: scroll;
        padding-left: 50px;
        position: relative;
        right: 0;
    }

    .login-sec-0 {
        display: grid ;
        grid-template-areas: "namaTeam namainput" "alert alert";
        margin-bottom : -20px ;
    }

    .login-sec-0 p:nth-child(1){
        grid-area: namaTeam ;
    }

    .login-sec-0 input[type="text"] {
        margin-left: 0px;
        height: 21px;
        width: 430px;
        padding: 3px;
    }

    .login-sec-0 p:nth-child(2){
        grid-area: alert;
    }

    .login-sec-1 {
        margin-top: 30px ;
        margin-bottom: 20px;
    }

    .login-sec-1 p:nth-child(3) {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .login-sec-1 #id-judul-wa{
        margin-left: 60px ;
    }

    .login-sec-1 aside input[type="email"] {
        width: 250px;
        margin-left: 0px ;
    }

    .login-sec-1 aside .alert-2{
        margin-bottom: 10px;
        margin-left: 60px;
    }

    .login-sec-1 aside #id-wa {
        grid-area: wa;
        width: 250px;
        margin-left: 60px;
        margin-bottom: 10px;
    }


    .login-sec-2 {
        /* margin-left: -10px ; */
    }

    .login-sec-3 {
        margin-left: -40 0px;
    }

    .login-sec-4 {
        margin-left: -200px;
    }

    .login-sec-5 {
        margin: 30px auto   ;
        width: 290px ;
    }


    .login-sec-2 input {
        width: 140px;
    }

    .login-sec-3 input {
        width: 140px;
    }

    .login-sec-4 input {
        width: 140px;
    }
}
