{% include 'header.html' %}
<!--CONTENT-->
<div class="container">
	<h5>DASHBOARD</h5>
	<hr style="margin-bottom: 20px; margin-top: -5px;">
	<div class="row">
		<div class="col-sm-4" style="">
			<div class="card" style="width: 120%; border-color: #57ca8d; box-shadow: 0 15px 15px rgba(51, 54, 53, 0.26)">
				<div class="card-body">
					<p>GRAFIK ANALISA</p>
					<canvas id="line-chart" width="800" height="750"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
	new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ["7 Feb","8 Feb","9 Feb","10 Feb","11 Feb","12 Feb","13 Feb","14 Feb"],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Mobile Legends",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947],
        label: "Free Fire",
        borderColor: "#8e5ea2",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'STATISTIK PENDAFTARAN'
    }
  }
});

</script>
{% include 'footer.html' %}