{% include 'header.html' %}
<div class="container">
	<h5 class="font-weight-bold" style="color: #6a6a6a;">DAFTAR PEMAIN</h5>
	<hr style="margin-bottom: 20px; margin-top: -5px;">{% with message = get_flashed_messages(category_filter=["Success","Failed"])%} {% if message %} {%for message in message %}
	<p class="text-center">{{message}}</p>{% endfor %} {%endif%} {% endwith %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card" style="width: 100%; box-shadow: 0 15px 15px rgba(51, 54, 53, 0.17)">
				<div class="card-body text-center">
					<h4 class="judul">PEMBAYARAN VIA ONLINE</h4>
					<hr style="margin-bottom: 20px; margin-top: -5px;">
					<div style="height: 550px;overflow: scroll; background-color: #ffffff;">
						<table class="table table-striped table-hover table-bordered text-center">
							<thead style="background-color: #343434; color: #fff; border-color: #343434;">
								<tr>
									<th>No</th>
									<th>Nama Team</th>
									<th>Nama Kapten</th>
									<th>IGN Kapten</th>
									<th>ID Kapten</th>
									<th>Nama Player 2</th>
									<th>IGN Player 2</th>
									<th>ID Player 2</th>
									<th>Nama Player 3</th>
									<th>IGN Player 3</th>
									<th>ID Player 3</th>
									<th>Nama Player 4</th>
									<th>IGN Player 4</th>
									<th>ID Player 4</th>
									<th>Nama Player 5</th>
									<th>IGN Player 5</th>
									<th>ID Player 5</th>
									<th>Nama Player 6</th>
									<th>IGN Player 6</th>
									<th>ID Player 6</th>
									<th>Email</th>
									<th>Whatsapp</th>
									<th>Bukti Transfer</th>
									<th>Waktu</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>{% for row in daftar_online%}
								<tr>
									<td>{{row[0]}}</td>
									<td>{{row[1]}}</td>
									<td>{{row[2]}}</td>
									<td>{{row[3]}}</td>
									<td>{{row[4]}}</td>
									<td>{{row[5]}}</td>
									<td>{{row[6]}}</td>
									<td>{{row[7]}}</td>
									<td>{{row[8]}}</td>
									<td>{{row[9]}}</td>
									<td>{{row[10]}}</td>
									<td>{{row[11]}}</td>
									<td>{{row[12]}}</td>
									<td>{{row[13]}}</td>
									<td>{{row[14]}}</td>
									<td>{{row[15]}}</td>
									<td>{{row[16]}}</td>
									<td>{{row[17]}}</td>
									<td>{{row[18]}}</td>
									<td>{{row[19]}}</td>
									<td>{{row[20]}}</td>
									<td>{{row[21]}}</td>
									<td>
										<a href="../static/assets/bukti_transfer/{{row[25]}}">
											<img src="../static/assets/bukti_transfer/{{row[25]}}" alt="Bukti Transfer" width="150" height="150">
										</a>
									</td>
									<td>{{row[22]}}</td>
									<td>
										<a href="/edit_ML/{{row.0}}" class="btn btn-primary btn-xs fa fa-pencil-square-o" data-toggle="modal" data-target="#modaledit{{row.0}}"></a>
										<a href="/delete_ML/{{row.0}}" class="btn btn-danger btn-xs fa fa-trash" onclick="return confirm('Apakah Yakin Mau Hapus Team?')"></a>
									</td>
								</tr>
								<div id="modaledit{{row.0}}" class="modal fade text-dark" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Edit Team</h4>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
											<div class="modal-body text-dark">
												<form action="{{url_for('editML')}}" method="POST">{{ form.csrf_token }}
													<input type="hidden" name="id" value="{{row.0}}">
													<div class="form-row">
														<div class="form-group col-md-6">
															<label for="Email">Email</label>
															<input type="email" class="form-control" name="Email" id="email" value="{{row.20}}" placeholder="{{row.20}}" required>
														</div>
														<div class="form-group col-md-6">
															<label for="Whatsapp">Whatsapp</label>
															<input type="number" class="form-control" name="Whatsapp" id="whatsapp" value="{{row.21}}" placeholder="{{row.21}}" required>
														</div>
													</div>
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="Kapten">Nama Kapten</label>
															<input type="text" class="form-control" name="NamaKapten" value="{{row.2}}" placeholder="{{row.2}}" required>
														</div>
														<div class="form-group col-md-4">
															<label for="IGN_Kapten">IGN_Kapten</label>
															<input type="text" class="form-control" name="IGN_Kapten" value="{{row.3}}" placeholder="{{row.3}}" required>
														</div>
														<div class="form-group col-md-4">
															<label for="IdKapten">ID Kapten</label>
															<input type="number" class="form-control" name="IdKapten" value="{{row.4}}" placeholder="{{row.4}}" required>
														</div>
													</div>
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="NamaPlayer2">Nama Player 2</label>
															<input type="text" class="form-control" name="NamaPlayer2" value="{{row.5}}" placeholder="{{row.5}}" required>
														</div>
														<div class="form-group col-md-4">
															<label for="IGN_Player2">IGN_Player 2</label>
															<input type="text" class="form-control" name="IGN_Player2" value="{{row.6}}" placeholder="{{row.6}}" required>
														</div>
														<div class="form-group col-md-4">
															<label for="ID Player 2">ID Player 2</label>
															<input type="number" class="form-control" name="IdPlayer2" value="{{row.7}}" placeholder="{{row.7}}" required>
														</div>
													</div>
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="NamaPlayer3">Nama Player 3</label>
															<input type="text" class="form-control" name="NamaPlayer3" value="{{row.8}}" placeholder="{{row.8}}" required>
														</div>
														<div class="form-group col-md-4">
															<label for="IGN_Player3">IGN_Player 3</label>
															<input type="text" class="form-control" name="IGN_Player3" value="{{row.9}}" placeholder="{{row.9}}" required>
														</div>
														<div class="form-group col-md-4">
															<label for="ID Player 3">ID Player 3</label>
															<input type="number" class="form-control" name="IdPlayer3" value="{{row.10}}" placeholder="{{row.10}}" required>
														</div>
													</div>
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="NamaPlayer4">Nama Player 4</label>
															<input type="text" class="form-control" name="NamaPlayer4" value="{{row.11}}" placeholder="{{row.11}}" required>
														</div>
														<div class="form-group col-md-4">
															<label for="IGN_Player4">IGN_Player 4</label>
															<input type="text" class="form-control" name="IGN_Player4" value="{{row.12}}" placeholder="{{row.12}}" required>
														</div>
														<div class="form-group col-md-4">
															<label for="ID Player 4">ID Player 4</label>
															<input type="number" class="form-control" name="IdPlayer4" value="{{row.13}}" placeholder="{{row.13}}" required>
														</div>
													</div>
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="NamaPlayer5">Nama Player 5</label>
															<input type="text" class="form-control" name="NamaPlayer5" value="{{row.14}}" required>
														</div>
														<div class="form-group col-md-4">
															<label for="IGN_Player5">IGN_Player 5</label>
															<input type="text" class="form-control" name="IGN_Player5" value="{{row.15}}" required>
														</div>
														<div class="form-group col-md-4">
															<label for="ID Player 5">ID Player 5</label>
															<input type="number" class="form-control" name="IdPlayer5" value="{{row.16}}" required>
														</div>
													</div>
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="NamaPlayer5">Nama Player 6</label>
															<input type="text" class="form-control" name="NamaPlayer6" value="{{row.17}}">
														</div>
														<div class="form-group col-md-4">
															<label for="IGN_Player5">IGN_Player 6</label>
															<input type="text" class="form-control" name="IGN_Player6" value="{{row.18}}">
														</div>
														<div class="form-group col-md-4">
															<label for="ID Player 5">ID Player 6</label>
															<input type="number" class="form-control" name="IdPlayer6" value="{{row.19}}">
														</div>
													</div>
													<button type="submit" class="btn text-white form-group col-md-12" style="background-color: #9fcab0;">Sumbit</button>
												</form>
											</div>
										</div>
									</div>{%endfor%}</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12" style="margin-top: 20px;">
				<div class="card" style="width: 100%; box-shadow: 0 15px 15px rgba(51, 54, 53, 0.17)">
					<div class="card-body text-center">
						<h4 class="judul">SEMUA TIM</h4>
						<hr style="margin-bottom: 20px; margin-top: -5px;">
						<div style="height: 900px;overflow: scroll;">
							<table class="table table-striped table-hover table-bordered text-center">
								<thead style="background-color: #343434; color: #fff; border-color: #343434;">
									<tr>
										<th>No</th>
										<th>Nama Team</th>
										<th>Nama Kapten</th>
										<th>IGN Kapten</th>
										<th>ID Kapten</th>
										<th>Nama Player 2</th>
										<th>IGN Player 2</th>
										<th>ID Player 2</th>
										<th>Nama Player 3</th>
										<th>IGN Player 3</th>
										<th>ID Player 3</th>
										<th>Nama Player 4</th>
										<th>IGN Player 4</th>
										<th>ID Player 4</th>
										<th>Nama Player 5</th>
										<th>IGN Player 5</th>
										<th>ID Player 5</th>
										<th>Nama Player 6</th>
										<th>IGN Player 6</th>
										<th>ID Player 6</th>
										<th>Email</th>
										<th>Whatsapp</th>
										<th>Waktu</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>{% for row in daftar_cod%}
									<tr>
										<td>{{row[0]}}</td>
										<td>{{row[1]}}</td>
										<td>{{row[2]}}</td>
										<td>{{row[3]}}</td>
										<td>{{row[4]}}</td>
										<td>{{row[5]}}</td>
										<td>{{row[6]}}</td>
										<td>{{row[7]}}</td>
										<td>{{row[8]}}</td>
										<td>{{row[9]}}</td>
										<td>{{row[10]}}</td>
										<td>{{row[11]}}</td>
										<td>{{row[12]}}</td>
										<td>{{row[13]}}</td>
										<td>{{row[14]}}</td>
										<td>{{row[15]}}</td>
										<td>{{row[16]}}</td>
										<td>{{row[17]}}</td>
										<td>{{row[18]}}</td>
										<td>{{row[19]}}</td>
										<td>{{row[20]}}</td>
										<td>{{row[21]}}</td>
										<td>{{row[22]}}</td>
										<td>
											<a href="/edit_ML/{{row.0}}" class="btn btn-primary btn-xs fa fa-pencil-square-o" data-toggle="modal" data-target="#modaledit{{row.0}}"></a>
											<a href="/delete_ML/{{row.0}}" class="btn btn-danger btn-xs fa fa-trash" onclick="return confirm('Apakah Yakin Mau Hapus Team?')"></a>
										</td>
									</tr>
									<div id="modaledit{{row.0}}" class="modal fade text-dark" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Edit Team</h4>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>
												<div class="modal-body text-dark">
													<form action="{{url_for('editML')}}" method="POST">{{ form.csrf_token }}
														<input type="hidden" name="id" value="{{row.0}}">
														<div class="form-row">
															<div class="form-group col-md-6">
																<label for="Email">Email</label>
																<input type="email" class="form-control" name="Email" id="email" value="{{row.20}}" placeholder="{{row.20}}" required>
															</div>
															<div class="form-group col-md-6">
																<label for="Whatsapp">Whatsapp</label>
																<input type="number" class="form-control" name="Whatsapp" id="whatsapp" value="{{row.21}}" placeholder="{{row.21}}" required>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col-md-4">
																<label for="Kapten">Nama Kapten</label>
																<input type="text" class="form-control" name="NamaKapten" value="{{row.2}}" placeholder="{{row.2}}" required>
															</div>
															<div class="form-group col-md-4">
																<label for="IGN_Kapten">IGN_Kapten</label>
																<input type="text" class="form-control" name="IGN_Kapten" value="{{row.3}}" placeholder="{{row.3}}" required>
															</div>
															<div class="form-group col-md-4">
																<label for="IdKapten">ID Kapten</label>
																<input type="number" class="form-control" name="IdKapten" value="{{row.4}}" placeholder="{{row.4}}" required>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col-md-4">
																<label for="NamaPlayer2">Nama Player 2</label>
																<input type="text" class="form-control" name="NamaPlayer2" value="{{row.5}}" placeholder="{{row.5}}" required>
															</div>
															<div class="form-group col-md-4">
																<label for="IGN_Player2">IGN_Player 2</label>
																<input type="text" class="form-control" name="IGN_Player2" value="{{row.6}}" placeholder="{{row.6}}" required>
															</div>
															<div class="form-group col-md-4">
																<label for="ID Player 2">ID Player 2</label>
																<input type="number" class="form-control" name="IdPlayer2" value="{{row.7}}" placeholder="{{row.7}}" required>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col-md-4">
																<label for="NamaPlayer3">Nama Player 3</label>
																<input type="text" class="form-control" name="NamaPlayer3" value="{{row.8}}" placeholder="{{row.8}}" required>
															</div>
															<div class="form-group col-md-4">
																<label for="IGN_Player3">IGN_Player 3</label>
																<input type="text" class="form-control" name="IGN_Player3" value="{{row.9}}" placeholder="{{row.9}}" required>
															</div>
															<div class="form-group col-md-4">
																<label for="ID Player 3">ID Player 3</label>
																<input type="number" class="form-control" name="IdPlayer3" value="{{row.10}}" placeholder="{{row.10}}" required>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col-md-4">
																<label for="NamaPlayer4">Nama Player 4</label>
																<input type="text" class="form-control" name="NamaPlayer4" value="{{row.11}}" placeholder="{{row.11}}" required>
															</div>
															<div class="form-group col-md-4">
																<label for="IGN_Player4">IGN_Player 4</label>
																<input type="text" class="form-control" name="IGN_Player4" value="{{row.12}}" placeholder="{{row.12}}" required>
															</div>
															<div class="form-group col-md-4">
																<label for="ID Player 4">ID Player 4</label>
																<input type="number" class="form-control" name="IdPlayer4" value="{{row.13}}" placeholder="{{row.13}}" required>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col-md-4">
																<label for="NamaPlayer5">Nama Player 5</label>
																<input type="text" class="form-control" name="NamaPlayer5" value="{{row.14}}" placeholder="{{row.14}}" required>
															</div>
															<div class="form-group col-md-4">
																<label for="IGN_Player5">IGN_Player 5</label>
																<input type="text" class="form-control" name="IGN_Player5" value="{{row.15}}" placeholder="{{row.15}}" required>
															</div>
															<div class="form-group col-md-4">
																<label for="ID Player 5">ID Player 5</label>
																<input type="number" class="form-control" name="IdPlayer5" value="{{row.16}}" placeholder="{{row.16}}" required>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col-md-4">
																<label for="NamaPlayer5">Nama Player 6</label>
																<input type="text" class="form-control" name="NamaPlayer6" value="{{row.17}}" placeholder="{{row.17}}">
															</div>
															<div class="form-group col-md-4">
																<label for="IGN_Player5">IGN_Player 6</label>
																<input type="text" class="form-control" name="IGN_Player6" value="{{row.18}}" placeholder="{{row.18}}">
															</div>
															<div class="form-group col-md-4">
																<label for="ID Player 5">ID Player 6</label>
																<input type="number" class="form-control" name="IdPlayer6" value="{{row.19}}" placeholder="{{row.19}}">
															</div>
														</div>
														<button type="submit" class="btn text-white form-group col-md-12" style="background-color: #9fcab0;">Sumbit</button>
													</form>
												</div>
											</div>
										</div>{%endfor%}</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>{% include 'footer.html' %}