{% include 'user_header.html' %}
	<div class="hero">
		<h1>Jadwal Pertandingan Turnamen</h1>
		<p>Powered By
			<img src="../static/assets/img/logo navbar.svg">TELS E-SPORT</p>
	</div>
	<div class="container">
		<div class="tombol-balik tombol-hilang"> <a href="#">&nbsp;<i class="fas fa-arrow-circle-left"></i> Kembali</a>
		</div>
		<div class="button-selection">
			<div class="mobile-legend">
				<img src="../static/assets/img/MOBILE LEGEND.png">
				<!-- <input type="checkbox"> -->
			</div>
			<div class="pubg">
				<img src="../static/assets/img/PUBG.png">
				<!-- <input type="checkbox"> -->
			</div>
			<div class="pb">
				<img src="../static/assets/img/PB.png">
				<!-- <input type="checkbox"> -->
			</div>
		</div>
		<div class="table-sec">
			<div class="ml-tabel">
				<table>
					<tr>
						<th>No</th>
						<th>Nama Team</th>
						<th>Jam</th>
						<th>Tanggal</th>
                    </tr>
                    {%for row in jadwal_mlbb%}
					<tr>
						<td>{{row[0]}}</td>
						<td>{{row[1]}}</td>
						<td>{{row[2]}}</td>
						<td>{{row[3]}}</td>
                    </tr>
                    {%endfor%}
					<tr>
				</table>
			</div>
			<div class="pubg-tabel tabel-hilang">
				<table>
					<tr>
						<th>No</th>
						<th>Nama Team</th>
						<th>Jam</th>
						<th>Tanggal</th>
					</tr>
                    {%for row in jadwal_pubg%}
					<tr>
						<td>{{row[0]}}</td>
						<td>{{row[1]}}</td>
						<td>{{row[2]}}</td>
						<td>{{row[3]}}</td>
                    </tr>
                    {%endfor%}
				</table>
			</div>
			<div class="pb-tabel tabel-hilang">
				<table>
					<tr>
						<th>No</th>
						<th>Nama Team</th>
						<th>Jam</th>
						<th>Tanggal</th>
					</tr>
                    {%for row in jadwal_pb%}
					<tr>
						<td>{{row[0]}}</td>
						<td>{{row[1]}}</td>
						<td>{{row[2]}}</td>
						<td>{{row[3]}}</td>
                    </tr>
                    {%endfor%}
				</table>
			</div>
		</div>
	</div>
{% include 'user_footer.html' %}