<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="static/assets/css/navbar.css" />
        <link rel="stylesheet" href="static/assets/css/register.css" />
        <link rel="stylesheet" href="static/assets/css/footer.css" />
    </head>
    <body>
        <nav>
            <div class="judul">
                <h1>TELS E-SPORT</h1>
                <img src="static/assets/img/logo navbar.svg" alt="#" />
            </div>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">jadwal</a></li>
                <li><a href="/team">team</a></li>
            </ul>
            <div class="toggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>

        <div class="hero-register">
            <h1>Pedaftaran Online Mobile Legends</h1>
        </div>

        <div class="form-login-register">
            <div class="tombol-balik">
                <a href="/"><img src="static/assets/img/tombol balik.svg" />kembali</a>
            </div>

            <form action="{{url_for('uploadML')}}" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }} {% with message = get_flashed_messages(category_filter=["Success","Failed"])%} {% if message %} {%for message in message %}
                <p class="text-center">{{message}}</p>
                {% endfor %} {%endif%} {% endwith %}
                <div class="login-sec-0">
                    <p>nama team</p>
                    <input type="text" name="Team" id="namaTeam" placeholder="Rex Regum Qeon" />
                    {% for error in form.Team.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="login-sec-1">
                    <p>email</p>
                    <input type="email" name="Email" id="email" placeholder="tomcat@tomcatsquad.com" />
                    {% for error in form.Email.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>whatsapp</p>
                    <input type="number" name="Whatsapp" id="whatsapp" placeholder="081381662082" min="0" />
                    {% for error in form.Whatsapp.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                </div>

                <div class="login-sec-2">
                    <p>nama kapten</p>
                    <input type="text" name="NamaKapten" placeholder="Ikhsan Lemon" />
                    {% for error in form.NamaKapten.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>nama player 2</p>
                    <input type="text" name="NamaPlayer2" placeholder="Ikhsan Lemon" />
                    {% for error in form.NamaPlayer2.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>nama player 3</p>
                    <input type="text" name="NamaPlayer3" placeholder="Ikhsan Lemon" />
                    {% for error in form.NamaPlayer3.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>nama player 4</p>
                    <input type="text" name="NamaPlayer4" placeholder="Ikhsan Lemon" />
                    {% for error in form.NamaPlayer4.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>nama player 5</p>
                    <input type="text" name="NamaPlayer5" placeholder="Ikhsan Lemon" />
                    {% for error in form.NamaPlayer5.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="login-sec-3">
                    <p>IGN-kapten</p>
                    <input type="text" name="IGN_Kapten" placeholder="Nickname" />
                    {% for error in form.IGN_Kapten.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>IGN-player 2</p>
                    <input type="text" name="IGN_Player2" placeholder="Nickname" />
                    {% for error in form.IGN_Player2.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>IGN-player 3</p>
                    <input type="text" name="IGN_Player3" placeholder="Nickname" />
                    {% for error in form.IGN_Player3.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>IGN-player 4</p>
                    <input type="text" name="IGN_Player4" placeholder="Nickname" />
                    {% for error in form.IGN_Player4.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>IGN-player 5</p>
                    <input type="text" name="IGN_Player5" placeholder="Nickname" />
                    {% for error in form.IGN_Player5.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="login-sec-4" placeholder="851863338 (2224)">
                    <p>ID kapten</p>
                    <input type="number" name="IdKapten" placeholder="37573688" />
                    {% for error in form.IdKapten.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>ID player 2</p>
                    <input type="number" name="IdPlayer2" placeholder="37573688" />
                    {% for error in form.IdPlayer2.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>ID player 3</p>
                    <input type="number" name="IdPlayer3" placeholder="37573688" />
                    {% for error in form.IdPlayer3.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>ID player 4</p>
                    <input type="number" name="IdPlayer4" placeholder="37573688" />
                    {% for error in form.IdPlayer4.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                    <p>ID player 5</p>
                    <input type="number" name="IdPlayer5" placeholder="37573688" />
                    {% for error in form.IdPlayer5.errors %}
                    <small style="color: red;">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="login-sec-5">
                    <p>Bukti Transfer</p>
                    <input type="file" name="bukti-tf" />
                    <button type="submit" value="submit">Submit</button>
                </div>
            </form>
        </div>

        <footer>
            <div class="section-atas-footer">
                <div class="footer-brand">
                    <img src="img/logo navbar.svg" alt="#" />
                    <h1>TELS E-SPORT</h1>
                    <p>TOURNAMENT BY TOMCAT</p>
                </div>
                <div class="menu-footer">
                    <h1>menu</h1>
                    <a href="#">home</a>
                    <a href="#">jadwal</a>
                    <a href="/team">team</a>
                </div>
                <div class="kategori-footer">
                    <h1>kategori</h1>
                    <a href="#">Mobile Legends: Bang Bang</a>
                    <a href="#">Free Fire</a>
                    <a href="#">PUBG Mobile</a>
                </div>
                <div class="info-footer">
                    <h1>info TOMCAT</h1>
                    <p>+62 896-3773-3392</p>
                    <p>tomcatsquad@gmail.com</p>
                </div>
                <div class="support-footer">
                    <h1>SUPPORT BY</h1>
                    <img src="static/assets/img/logo sekolah tercinta.svg" alt="#" />
                    <img src="static/assets/img/xlhum.svg" alt="" />
                </div>

                <div class="sosmed-footer">
                    <a href="#"><img src="static/assets/img/Instagram.svg" alt="#" /></a>
                    <a href="#"><img src="static/assets/img/Twitter.svg" alt="#" /></a>
                    <a href="#"><img src="static/assets/img/Youtube.svg" alt="#" /></a>
                </div>
            </div>
            <div class="section-bawah-footer">
                <div class="garis-footer"></div>
                <h4>© 2020 - TELS E-SPORT</h4>
            </div>
        </footer>

        <!-- script js -->
        <script src="statis/assets/js/navbar.js"></script>
    </body>
</html>
